.header {
    height: 60px;
    background: #cccccc;
    text-align: left;
}

.text {
    font-size: 18px;
    display: inline-block;
    height: 100%;
    margin: 15px;
    color: gray;
    font-weight: bold;
}